@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Red+Hat+Display:wght@500&family=Red+Hat+Text&display=swap');

html {
    font-family: 'Inter', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Red Hat Text', sans-serif;
    }
}
